.App {
  height: 100vmin;
  background-image: url("./Media/512-1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#title {
  width: 51%;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  text-align: center;
}

#containerFather {
  height: auto;
  width: 50%;
  background-color: black;
  color:white;
  border: 5px solid white;
  border-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 0;
  margin-top:-300px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#containerTitle {
  width: 100%;
}

#body {
  display: flex;
  width: 100%;
}

#bodyLeft {
  width: 50%;
}

#bodyRight {
  width: 49%;
}

li {
  list-style: none;
  text-align: left;
}

button {
  padding: 8px;
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  background-color: teal;
}