.App {
  height: 100vmin;
  background-image: url("./Media/512-1.jpg");
  display: flex;
  align-items: center;
  justify-content: center;  
}

#containerFather {
  height: 100px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
